import tkinter as tk

window = tk.Tk()

row = 7
columns = 7

buttons = []

for i in range (row):
    temp = []
    for j in range (columns):
        btn =tk.Button (window, width = 3, font='calibri 15 bold')
        temp.append(btn)
    buttons.append(temp)

for i in range (row):
    for j in range (columns):
        btn = buttons [i][j]
        btn.grid (row=i, column=j)


for row_btn in buttons:
    print (row_btn)
window.mainloop()

